* {
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 400;
	height: 100%;
	background: linear-gradient(180deg, rgba(187, 133, 255, 0.166) -8.54%, rgba(255, 244, 251, 0.2) 100%) no-repeat;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 50px 20px;
}

.main__items {
	margin-bottom: 35px;
	z-index: 10;
}

.main__items a {
	color: #8643DC;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	position: relative
}

.main__items a::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	background-color: #8643DC;
	left: 0;
	top: 30px;

}


.main__content {
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 50px;

}

.main__content-text {
	max-width: 512px;
	font-weight: 500;
	font-size: 36px;
	line-height: 52px;
	color: #21232D;
}

.main__content-link {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-decoration-line: underline;

	color: #8643DC;
}

@media screen and (max-width: 780px) {
	.main__content {
		display: block;
		margin-bottom: 70px;
	}
}


.main__form {
	margin-bottom: 100px;
}

.main__form-confirm {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
	position: relative;
}

.main__form-confirm-btn button {
	background: #8643DC;
	border-radius: 100px;
	padding: 18px 50px;
	border: none;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	transition: 0.3s ease;
}

.main__form-confirm-btn button:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.main__form-confirm-icon img:first-of-type {
	padding-right: 47px;
}

.main__form-confirm-icon img:last-of-type {
	position: absolute;
	top: 2px;
	right: 6px;

}

footer {
	text-align: center;
}

.main__footer-text {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	padding-bottom: 30px;
	color: #21232D;
}

.sn-item {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

.sn-item:nth-child(odd) {
	margin: 0px 40px;

}

.main__footer-sn img:first-of-type {
	position: relative;
	top: 0;
	left: 0;
}

.main__footer-sn img:last-of-type {
	position: absolute;
	top: 14px;
	left: 14px;
}